body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.split-box{
	position:relative;
	width:50%;
	height:100%;
}
 
.left-box {
	left:0;
/* 	background:red; */
}

.left-down-box {
	height:50%;
	background:#FFFFCC;
}

.left-up-box {
	height:50%;
	background:#FFCCFF;
}
 
.right-box {
	right:0;
	overflow-y:scroll;
	background:#CCFFFF;
}

.kptbox {
	border:2px solid #DDDDDD
}

.issuebox {
	border:1px solid #888888;
	margin:5px;
	width:45%;
	display:inline-block;
	vertical-align:top;
	border-radius:10px;
	background-color:#f5f5f5
	
}

.issue-title  {
	text-align: right;
    margin-bottom: 0.5rem;
}
.issue-key  {
	border-bottom: solid 1px #888888;
}

/* モーダルCSS */
.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.6);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}


/* 以下ボタンスタイル */
/* button { */
/*   padding: 10px; */
/*   background-color: #fff; */
/*   border: 1px solid #282828; */
/*   border-radius: 2px; */
/*   cursor: pointer; */
/* } */

/* #openModal { */
/*   position: absolute; */
/*   top: 50%; */
/*   left: 50%; */
/*   transform:translate(-50%,-50%); */
/* } */

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.6;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("/image/image.gif") center center no-repeat;
}

#modalTitle {
	text-align:center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.KEEP {
	background:linear-gradient(#FFE5D2, #F6A56A)
}

.PROBLEM {
	background:linear-gradient(#FCFFD7, #F3FE62)
}

.TRY {
	background:linear-gradient(#D7FFF9, #62FEE8)
}